{% extends "base.html" %}
{% block content %}
	<h1>{{title}}</h1>
	<h2>Library</h2>
	<p><b>Library</b> - это электронная картотека, предназначенная для хранения данных о книгах в вашей библиотеке. Приложению нужен доступ к интернету. </p>
	<h2>Роли</h2>
	<p>Пользователь при регистрации может выбрать себе одну из двух ролей: <i>библиотекарь</i> или <i>директор</i>. Отличие в том, что для директора создаётся новая картотека, в которую он может приглашать простых библиотекарей. Библиотекарь может работать только на одного директора.</p>
	<p>Если директор отправил <b>офферту</b> (приглашение на работу), то библиотекарь, при принятии приглашения, может работать с картотекой директора. Иначе быть ненанятым библиотекарем просто бесполезно. Заметьте, что <em>библиотекарь не является нанятым, пока не примет офферту</em>. Последнюю же надо искать в уведомлениях. Если вам таковую прислали, то можете согласиться или отказаться.</p>
	<h3>Отправка офферты</h3>
	<p>Чтобы отправить офферту, директору нужно открыть окно уведомлений и в нём нажать на кнопку с человечком, держащим флаг. Далее ввести никнейм библиотекаря. Нанять директора не получится, не пытайтесь.</p>
	<img src="{{url_for('static', filename='images/main_not.jpg')}}" width="300px">
	<img src="{{url_for('static', filename='images/not_hire.jpg')}}" width="300px">
	<img src="{{url_for('static', filename='images/nickname_hire.jpg')}}" width="300px">
	<h2>Картотека</h2>
	<p>К самой картотеке относятся окна доступных и выданных книг. Любые добавленные книги появляются среди доступных.</p>
	<p>Книги можно редактировать, удалять, сдавать и возвращать. Чтобы выдать книгу, нужно зайти в "Доступные", выбрать нужную книгу, нажать на кнопку слева вверху экрана, и выбрать "Выдать/Возвратить". Далее ввести имя получателя и дату, до которой тот должен вернуть книгу (включительно или нет, как хотите). Уведомлений о приблжении срока пока нет, но, может быть, если Бог позволит, появятся.</p>
	<h3>Фильтрация книг</h3>
	<p>В версии 1.2 появилась возможность фильтровать книги, для более быстрого поиска.</p>
	<img src="{{url_for('static', filename='images/lib_filter.jpg')}}" width="500px">
	<p>В выпадающем списке указываются поля, по которым будет происходить фильтрация. По умолчанию стоит "Инвентарный номер".</p>
	<p>Текстовое поле нужно для ввода искомого значения.</p>
	<p>Фильтрация не будет выполнятся, пока не стоит галочка в чекбоксе. Если вы её поставили, то при вводе в текстовое поле список книг будет обновляться. Т.к. пока это происходит медленно, то лучше сначало ввести искомое значение, а потом включать фильтрацию.</p>
	<img src="{{url_for('static', filename='images/lib_filter_cb_checked.jpg')}}" width="500px">
	<h3>Автозаполнение</h3>
	<p>В версии 1.3 появилась возможность автозаполнения, для более быстрого добавления книг в библиотеку.</p>
	<img src="{{url_for('static', filename='images/addeditbook_autofill.jpg')}}" width="300px">
	<img src="{{url_for('static', filename='images/autofil_get_field_value.jpg')}}" width="300px">
	<img src="{{url_for('static', filename='images/autofill_screen.jpg')}}" width="300px">
	<img src="{{url_for('static', filename='images/autofill_choosed_screen.jpg')}}" width="300px">
	<p>Для использования этой функции, перейдите в окно добавления книги (нажмите "+" в окне библиотеки), нажмите на лупу справа верху. В появившемся окошке выберите поле, по которому будет вестись поиск книг, и введите искомое значение. Нажмите "Ок". Если книги будут найдены, то откроется новое окно со списком таковых. Чтобы добавить наиболее подходящий вариант, откройте описание книги и нажмите "Выбрать". Снова откроется окно добавления, но уже со вставленными значениями нужной книги.</p>
	<p>Поиск идёт по вашей библиотеке и библиотекам других директоров. С помощью автозаполнения другим будут видны только "общие" поля книги (название, автор, ISBN и др.). Количество, состояние, место хранения и другие "личные" поля не показываются.</p>
	<h3>Копирование данных</h3>
    <p>В окне описания нужной книги нажмите на кнопку с тремя точками. В появившемся меню выберите "<b>Копировать данные</b>".</p>
    <p>Если вы хотите опубликовать описание своей книги, то выберите "<b>Для публикации</b>". А если по каким-то причинам вам нужно скопировать данные полностью, то выберите "<b>Полностью</b>"</p>

	<h2>Настройки</h2>

	<p>Можно выбрать цветовую тему. Я не дизайнер, по этому так, как есть. Если у кого будут предложения по этому вопросу, пишите на почту, будет очень хорошо!</p>
	<p>Для директоров в настройках доступна возможность посмотреть всех библиотекарей, которые согласились на его офферту.</p>
	<h3>Обновление в версии 1.5</h3>
    <p>Теперь можно удалять свой аккаунт полностью. Только директорам надо предварительно удалить библиотеку, что тоже стало возможно.<br>Однако библиотеку можно не удалить, а передать. Нажать на кнопку "Передать библиотеку", и после подтверждения выбрать нужного библиотекаря.<br> Библиотеку можно передать <b>только "своему" библиотекарю</b>, который нанят данным директором.</p>
{% endblock %}